<%= form_tag post_micropost_path do %>
  <div class="field">
    <%= text_area_tag :content %>
  </div>
  <div class="actions">
  <% if signed_in? %>
    <%= submit_tag "Submit"%>
  <% else %>
    <%= submit_tag "Submit", :disabled=>true %>
  <% end %>
  </div>
<% end %>

