<table class="front" summary="For signed-in users">
  <tr>
    <td class="main">
      <h1 class="micropost">What's up?</h1>
      <%= render 'shared/micropost_form' %>
    </td>
    
    <% if signed_in? %>
    <td class="sidebar round">
      <%= render 'shared/stats' %>
    </td>
    <% end %>
  </tr>
</table>


